#run-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#run-manager-modal-loader {
    position: absolute;
}

#wpfooter{
  position: unset; !important;
}

.card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

/*.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}*/

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.form-label {
  font-size: 16px;
  color: #333;
}

 .notify-wrap {
    max-width: 900px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.05);
    margin-top: 20px;
}

.notify-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: #2271b1;
}

.notify-option {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    background: #fafafa;
}

.notify-label {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.notify-editor-wrapper {
    margin-top: 10px;
    padding: 10px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
}

.notify-editor-wrapper input.regular-text {
    width: 100%;
    max-width: 400px;
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.notify-placeholders {
    margin-top: 10px;
    padding: 12px 15px;
    background: #ffffff;            /* White background */
    border: 1px solid #333333;     /* Dark border */
    border-radius: 8px;             /* Rounded corners */
    font-size: 14px;
    color: #000000;                 /* Black text */
    line-height: 1.6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    margin-bottom: 10px;
}

.notify-placeholders strong {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: 600;
}

/* Curly braces effect */
.notify-placeholders .placeholder {
    position: relative;
    font-weight: bold;
    color: #000000;
    margin-right: 6px;

}

