#run-manager-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#run-manager-modal-loader {
    position: absolute;
}
/* Apply flex styling to WooCommerce error notices */
.clear-cart-container {
    display: flex;
    gap: 20px;
    align-items: center;
}
.verification_button{
    margin-top: 10px;
}
#tshirt_size_select{
    padding: 5px !important;
    margin-bottom: 10px;
}

